POSTGRES_DSN=postgresql+psycopg://narxlar_app:NarxlarApp2026@localhost:5432/narxlar_statistikasi
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=NarxlarAdmin2026
POSTGRES_APP_USER=narxlar_app
POSTGRES_APP_PASSWORD=NarxlarApp2026
POSTGRES_DB=narxlar_statistikasi
APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=change-this-admin-password
APP_USER_USERNAME=user
APP_USER_PASSWORD=change-this-user-password
